@import './variables.scss';

body {
    background: url(../img/paper-background.jpg) no-repeat;
    background-size: 100%;
    font-family: 'Amatic SC', cursive !important;

    .container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .btn {
            color: $default-background-color;
            background-color: $default-title-color;
            border: none;
            padding: 10px 20px;
        }

        .btn-start {
            padding: 10px 20px;
            font-size: 30px;
            border-radius: 3px;
            cursor: pointer;
            transition: opacity 0.5s ease-in-out;

            &:hover {
                opacity: 0.7;
            }
        }

        .title {
            position: absolute;
            font-size: 81px;
            margin: 0;
        }


        .title-prev {
            top: calc(25% - 25px);
        }

        .title-main {
            top: 50px;
            left: 50px;
            font-size: 67px;
        }

        .square {
            border: 1px solid $default-title-color;
            background: transparent;
            float: left;
            height: 34px;
            width: 34px;
            margin-top: 0px;
            margin-right: 0px;

            &:hover {
                cursor: crosshair;
            }
        }

        .square-miss,
        .square-strike {
            position: relative;
        }

        .square-miss {
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                background: #1D7074;
                border-radius: 50%;
                left: calc(50% - 5px);
                top: calc(50% - 5px);
            }
        }

        .square-strike {

            &::after,
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 4px;
                height: 20px;
                background: #FB3F51;
                border-radius: 50%;
                left: calc(50% - 2px);
                top: calc(50% - 10px);
            }
        }

        .square-strike::after {
            transform: rotate(45deg);
        }

        .square-strike::before {
            transform: rotate(-45deg);
        }

        .square-with-ship {
            background: $default-title-color;
        }

        .field {
            width: $default-field-width;
        }

        .ship-select {
            width: $default-ship-select-width;
        }

        .row {
            display: flex;
            .map h3{
                font-size: 35px;
                line-height: 0px;
            }
        }

        .ship-select {
            display: flex;
            flex-direction: column;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            font-size: 29px;
        }

        .input-block {
            background: $defautl-modal-btn-color;
            box-sizing: border-box;
            padding: 20px 30px;
            border: 2px solid $default-title-color;
            position: absolute;
            right: 0;
            transition: 0.5s;
            opacity: 0;
        }

        .input-block--show {
            right: calc(50% - (358px/2));
            opacity: 1;
        }

        .input-block input {
            background: transparent;
            border: 2px solid $default-title-color;
            color: $default-title-color;
            height: 30px;
            width: 250px;
            padding: 5px 20px;
            font-size: 41px;
        }

        .input-block input::placeholder {
            color: rgb(85, 148, 151);
        }

        .input-block h3 {
            margin-top: 0;
            font-size: 31px;
            line-height: 0.1;
        }

        .hidden {
            opacity: 0;
            transition: 0.3s;
        }

        .delete {
            display: none;
        }

        .modal {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 300px;
            width: 500px;
            background: $defautl-modal-btn-color;
            box-sizing: border-box;
            padding: 20px 30px;
            border: 2px solid $default-title-color;
            position: absolute;
            bottom: 0;
            transition: 0.5s;
            opacity: 0;
        }

        .modal .btn {
            margin-top: 20px;
            color: $defautl-modal-btn-color;
        }

        .modal--show {
            bottom: calc(50% - 150px);
            opacity: 1;
            display: flex;
        }

    }

    h1,
    h2,
    h3,
    h4 {
        color: $default-title-color;
    }
}