// colors

$default-background-color: #e6f7f7;
$default-title-color: #0f5a86;
$default-modal-border: 2px solid #1e88c5;
$defautl-modal-btn-color: #78abc9;

//size

$default-field-width: 350px;
$default-ship-select-width: 330px;
$default-info-widht: 200px;